<section>

<h2 class="center">Reporting Parties</h2>

<div class="row group">
  <div class="col col-6">
    <h3>National report submission map</h3>
    <img src="http://placehold.it/500x800">
  </div>
  <div class="col col-6">
    <h3>National report submission rate</h3>
    <h4>
      AWEA Parties that provided National Reports<br>
      (as of 2nd July 2015)
    </h4>

    <div class="stats-block-percentage">
      <div class="stats-block-percentage__figure">53%</div>
      <div class="stats-block-percentage__text">
        <div class="stats-block-percentage__text--blue">39/71</div>
        <div>Parties</div>
      </div>
    </div>

    <h3>National report submission by numbers</h3>
    <div class="stats-block-graph">
      <img src="http://placehold.it/500x400">
    </div>
  </div>
</div>
</section>
