<section>
  <h2 class="heading center">Reporting Parties</h2>
  <div class="row group">
    <div class="col col-6">
      <h3>National report submission map</h3>
      <div id="map"></div>
    </div>
    <div class="col col-6">
      <h3>National report submission rate</h3>
      <h4>
        AWEA Parties that provided National Reports<br>
        (as of 2nd July 2015)
      </h4>

      <div class="stats-block-percentage">
        <div class="stats-block-percentage__figure">53%</div>
        <div class="stats-block-percentage__text">
          <div class="stats-block-percentage__text--blue">39/71</div>
          <div>Parties</div>
        </div>
      </div>

      <h3>National report submission by numbers</h3>
      <div class="stats-block-graph">
        <div id='submission_chart'></div>
      </div>
    </div>
  </div>
</section>

<hr>

<section class="container">
  <h2 class="heading center">Habitat Conservation</h2>

  <div class="row group">
    <%= image_tag 'Habitat_Conservation.jpg' %>
  </div>
  <div class="row group">
    <div class="col col-6">
      <p class="strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget risus eleifend, pharetra velit eleifend, volutpat magna. Nulla quis eros sed urna malesuada cursus. Morbi tempor, augue eget euismod venenatis, odio orci suscipit nisl, vel malesuada lectus nibh eu nulla. Phasellus condimentum enim tellus, nec tincidunt purus cursus vitae. Phasellus lacinia, eros vel fringilla pharetra, ligula est efficitur purus, quis fringilla ante urna in lacus. Maecenas tristique ante sit amet ante porta, sed aliquet ex sodales.</p>
    </div>
    <div class="col col-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget risus eleifend, pharetra velit eleifend, volutpat magna. Nulla quis eros sed urna malesuada cursus. Morbi tempor, augue eget euismod venenatis, odio orci suscipit nisl, vel malesuada lectus nibh eu nulla. Phasellus condimentum enim tellus, nec tincidunt purus cursus vitae. Phasellus lacinia, eros vel fringilla pharetra, ligula est efficitur purus, quis fringilla ante urna in lacus. Maecenas tristique ante sit amet ante porta, sed aliquet ex sodales. Etiam velit ipsum, condimentum eu purus quis, dapibus varius purus. Etiam vel efficitur ipsum. Maecenas vulputate, lectus eget fringilla interdum, mauris nunc scelerisque justo, at sollicitudin enim nisl sed purus. Mauris tristique dui id nisi maximus, a consectetur ipsum ultricies. Nullam condimentum sollicitudin nibh, id ultricies urna pretium ac. Vivamus sed est ut urna finibus sagittis et et justo.<p>
    </div>
  </div>
  <div class="row group">
    <h3 class="subheading">Management and protection of nationally and<br> internationally important sites</h3>
    <h3>Which sites that were identified as important, either internationally or nationally, for Table 1 migratory waterbird species/populations have been designated as protected areas under the national legislation and have management plans that are being implemented?</h3>
    <img src="http://placehold.it/800x600">
  </div>
</section>

<hr>

<section class="container">
  <h2 class="heading center">Management of Human Activities</h2>
  <div class="row group">
    <%= image_tag 'Management_of_Human_Activities.jpg' %>
  </div>
  <div class="row group">
    <div class="col col-6">
      <p class="strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget risus eleifend, pharetra velit eleifend, volutpat magna. Nulla quis eros sed urna malesuada cursus.</p>
    </div>
    <div class="col col-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget risus eleifend, pharetra velit eleifend, volutpat magna. Nulla quis eros sed urna malesuada cursus. Morbi tempor, augue eget euismod venenatis, odio orci suscipit nisl, vel malesuada lectus nibh eu nulla.</p></div>
  </div>
  <div class="container">
    <h2>Hunting</h2>
    <h3 class="subheading">Phased out Lead shot</h3>
    <h3>Has your country phased out the use of lead shot for hunting in wetlands?</h3>
    <div id='column_chart_div'></div>
    <div id='barchart'></div>
    <div class="panel">
      <p class="strong"><span class="text-red">TARGET: </span>The use of lead shot for hunting in wetlands is phased out in all CPs</p>
      <div id='target_chart'> </div>
    </div>
    <h3 class="subheading">Measure to reduce/eliminate illegal taking</h3>
    <h3>Are there measures in your country to reduce/eliminate illegal taking?</h3>
    <img src="http://placehold.it/400x400">
    <h2>Other human activities</h2>
    <h3 class="subheading">Measures to reduce incidental catch of seabirds</h3>
    <h3>Has your country undertaken steps towards the adoption/application of measures to reduce the incidental catch of seabirds and combat illegal unregulated and unreported (IUU) fishing practices in the agreement area?</h3>
    <img src="http://placehold.it/500x300">
  </div>
</section>

<hr>

<section class="container">
  <h2 class="heading center">Education & Information</h2>
  <div class="row group">
    <%= image_tag 'Education_and_Information.png' %>
  </div>
  <div class="row group">
    <div class="col col-6">
      <p class="strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget risus eleifend, pharetra velit eleifend, volutpat magna. Nulla quis eros sed urna malesuada cursus.</p>
    </div>
    <div class="col col-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget risus eleifend, pharetra velit eleifend, volutpat magna. Nulla quis eros sed urna malesuada cursus. Morbi tempor, augue eget euismod venenatis, odio orci suscipit nisl, vel malesuada lectus nibh eu nulla.</p></div>
  </div>
  <div class="container">
    <h3 class="subheading">in-country awareness raising programmes</h3>
    <h3>Has your country developed and implemented programmes for raising awareness and understanding on waterbird conservation and about AWEA?</h3>
    <img src="http://placehold.it/800x600">
  </div>
</section>

<div id='pie_chart_div'></div>
<div id='column_chart_div'></div>
