$darker-grey:    #999999 !default;
$dark-grey:     #5c5c5c !default;
$medium-grey:   #858585 !default;
$light-grey:    #d6d6d6 !default;
$lighter-grey:  #f1f1f1 !default;
$blue:          #2C53a7 !default;
$light-blue:    #6D88c4 !default;
$orange:        #E17D2E !default;
$gold:          #B08C58 !default;
$turquoise:     #30A9BB !default;
$red:           #D50C17 !default;

