@import url(https://fonts.googleapis.com/css?family=Hind:600,300|Open+Sans:300,400,600);
@import 'utilities/colors';

h1, h2, h3, h4, p {
  color: $dark-grey;
}

h1, h2, .subheading {
  text-transform: uppercase;
}

h1 { font: normal 600 59px/160px 'Hind', sans-serif; }
h2 { font: normal 600 37px/100px 'Hind', sans-serif; }
h3 { font: normal 600 23px/1.1em 'Hind', sans-serif; }
h4 { font: normal 300 21px/1.1em 'Hind', sans-serif; }
p { font: normal 300 14px/1.1em 'Open Sans', sans-serif; }
p.strong { font: normal 300 18px/1.1em 'Hind', sans-serif; }

.subheading {
  font: normal 300 28px/1.5em 'Hind', sans-serif;
  color: $medium-grey
}
