<div class="main-container">

  <div class="header">
    <h1>AEWA NATIONAL REPORTS 2012-2014</h1>
    <div class="divider"></div>
  </div>

  <div class="section reporting-parties">
    <div class="title">
      <h2>REPORTING PARTIES</h2>
    </div>
    <div class="col map">
      <h4>National report submission map</h4>
    </div>
    <div class="col submission-rate">
      <h4>National report submission rate</h4>
    </div>
  </div>

</div>
