@import 'utilities/colors';

.footer {
  margin-top: 10px;
  padding-top: 50px;
  .ors-logo-bar {
    background: $blue;
    height: 150px;
    display: flex;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .ors-logo {
      width: 250px;
      img { width: 50%; }
    }
    .ors-info p { color: $white; }
  }
  .copyright-bar {
    position: relative;
    bottom: 0;
    background: $white;
    width: 100%;
    .right {
      text-align: right;
      p, img { display: inline-block; }
      img {
        vertical-align: middle;
        margin-left: 10px;
        height: 35px;
        width: auto;
      }
    }
  }
}
