@import 'utilities/colors';

.header {
  text-align: center;
  border-bottom: solid 1px $darker-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  .aewa-logo {
    width: 110px;
    padding: 25px;
  }
}
