<div class="footer">
  <div class="row group ors-logo-bar">
    <div class="container">
      <div class="col col-6 ors-logo">
        <%= image_tag "ORS_identity.png" %>
      </div>
      <div class="col col-6 ors-info">
        <p>
        This demonstration shows how data collected in the Online Reporting System (ORS) can used in real-time visualisations, making information more accessible and easier to understand. All data is live and taken directly from the AEWA instance ORS</p>
        <p><%= link_to "Find out more about the ORS", "http://www.ors.ngo/",target: "_blank" %></p>
      </div>
    </div>
  </div>

  <div class="row group copyright-bar">
    <div class="container">
      <div class="row group">
        <div class="col col-8" id="left">
          <p>Copyright &copy; <%= DateTime.now.year %> UNEP-WCMC. All rights reserved.</p>
        </div>
        <div class="col col-4 right">
          <p>Powered By UNEP-WCMC</p>
          <%= image_tag 'wcmc_logo.png', class: 'unep-wcmc-logo' %>
        </div>
      </div>
    </div>
  </div>
</div>
