<div class="header">
  <div class="row group">
    <div class="col col-1">
      <div class="aewa-logo">
        <%= image_tag 'AEWA_logo.jpg' %>
      </div>
    </div>
    <div class="col col-11">
      <h1 class="heading">AEWA National Reports 2012-2014</h1>
    </div>
  </div>
</div>
