<!DOCTYPE html>
<html>
<head>
  <title>AWEA NAtional Reports 2012-2014</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript">
    google.load('visualization', '1.0', {'packages':['corechart', 'bar']})
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1 class="heading">AWEA National Reports 2012-2014</h1>
    </div>
    <%= yield %>
  </div>
</body>
</html>
